/*
 *
 * MEDIA QUERIES
 *
 * Includes: phone-v, phone-h, tablet-v, tablet-h, laptop, television, image2x
 */


/*******************************
BREAK POINTS
*******************************/
@mixin bp($point) {
	// base style is global (watch, phone, tablet, desktop, image2x)
	// then media queries are applied as viewport width or display resolution increases
	
	
	// VIEWPORT SIZES
	$bp-phone-v: "screen and (min-width: 240px)";		// phone vertically & up
	$bp-phone-h: "screen and (min-width: 320px)";		// phone horizontally & up
	$bp-tablet-v: "screen and (min-width: 640px)";		// tablet vertically & up
	$bp-tablet-h: "screen and (min-width: 764px)";		// tablet horizontally & up
	$bp-laptop: "screen and (min-width: 1024px)";		// laptop & up
	$bp-television: "screen and (min-width: 1600px)";	// television & up
	
	// DISPLAY RESOLUTION
	$bp-phone-v-retina: "screen and (min-width: 240px) and (-webkit-min-device-pixel-ratio: 1.5),
			screen and (min-width: 240px) and (min--moz-device-pixel-ratio: 1.5),
			screen and (min-width: 240px) and (-0-min-device-pixel-ratio: 3/2),
			screen and (min-width: 240px) and (min-device-pixel-ratio: 1.5),
			screen and (min-width: 240px) and (min-resolution: 144dpi),
			screen and (min-width: 240px) and (min-resolution: 1.5 dppx)";	// @2x high resolution displays & up
	$bp-phone-h-retina: "screen and (min-width: 320px) and (-webkit-min-device-pixel-ratio: 1.5),
			screen and (min-width: 320px) and (min--moz-device-pixel-ratio: 1.5),
			screen and (min-width: 320px) and (-0-min-device-pixel-ratio: 3/2),
			screen and (min-width: 320px) and (min-device-pixel-ratio: 1.5),
			screen and (min-width: 320px) and (min-resolution: 144dpi),
			screen and (min-width: 320px) and (min-resolution: 1.5 dppx)";	// @2x high resolution displays & up
	$bp-tablet-v-retina: "screen and (min-width: 640px) and (-webkit-min-device-pixel-ratio: 1.5),
			screen and (min-width: 640px) and (min--moz-device-pixel-ratio: 1.5),
			screen and (min-width: 640px) and (-0-min-device-pixel-ratio: 3/2),
			screen and (min-width: 640px) and (min-device-pixel-ratio: 1.5),
			screen and (min-width: 640px) and (min-resolution: 144dpi),
			screen and (min-width: 640px) and (min-resolution: 1.5 dppx)";	// @2x high resolution displays & up
	$bp-tablet-h-retina: "screen and (min-width: 764px) and (-webkit-min-device-pixel-ratio: 1.5),
			screen and (min-width: 764px) and (min--moz-device-pixel-ratio: 1.5),
			screen and (min-width: 764px) and (-0-min-device-pixel-ratio: 3/2),
			screen and (min-width: 764px) and (min-device-pixel-ratio: 1.5),
			screen and (min-width: 764px) and (min-resolution: 144dpi),
			screen and (min-width: 764px) and (min-resolution: 1.5 dppx)";	// @2x high resolution displays & up


	// MEDIA QUERIES 
	@if $point == phone-v {								// phone-v
		@media #{$bp-phone-v} { @content; }
	}
	@else if $point == phone-h {						// phone-h
		@media #{$bp-phone-h} { @content; }
	}
	@else if $point == tablet-v {						// tablet-v
		@media #{$bp-tablet-v}	{ @content; }
	}
	@else if $point == tablet-h {						// tablet-h
		@media #{$bp-tablet-h}	{ @content; }
	}
	@else if $point == laptop {							// laptop
		@media #{$bp-laptop}  { @content; }
	}
	@else if $point == television {						// television
		@media #{$bp-television}  { @content; }
	}
	@if $point == phone-v-retina {						// phone-v retina
		@media #{$bp-phone-v-retina} { @content; }
	}
	@else if $point == phone-h-retina {					// phone-h retina
		@media #{$bp-phone-h-retina} { @content; }
	}
	@else if $point == tablet-v-retina {				// tablet-v retina
		@media #{$bp-tablet-v-retina}	{ @content; }
	}
	@else if $point == tablet-h-retina {				// tablet-h retina
		@media #{$bp-tablet-h-retina}	{ @content; }
	}
	@else if $point == laptop-retina {					// laptop retina
		@media #{$bp-laptop-retina}  { @content; }
	}
	@else if $point == television-retina {				// television retina
		@media #{$bp-television-retina}  { @content; }
	}

}