/*
 *
 * CONTAINERS
 *
 */


body {
	width: 100%; // sets width for grid columns
	background: linear-gradient(to bottom, #240020 0%, #000000 20%, #000000 50%, #380830 100%) fixed;
}


/*******************************
BACKGROUND WRAPS 
*******************************/
.wrap,
.page-wrap {
	width:100%;
	display:block;
}


/*******************************
HEADER
*******************************/


/*******************************
MAIN 
*******************************/
.main-wrap {
	position: relative;			// set for z-index above site name
	z-index: 5;					// position between site name and navigation
	margin: auto 10%;			// side and top spacing
}