/*
 *
 * LINKS
 *
 */
 

/*******************************
GLOBAL LINKS 
*******************************/
a {
	color: site-color('secondary');
	text-decoration: none;
	&:hover, &:focus {
		color: site-color('accent');
	}
}
p a {		// about page album links //
	border-bottom: 2px solid site-color('accent');
	font-style: italic;
}

// ALBUM DOWNLOADS //
.btn {
	padding: 0.5em 1em;
	margin-right: 0.25em;				// spacing right
	background-color: site-color('primary');
	text-decoration: none;
	color: site-color('gray');
	border-bottom: 3px solid site-color('foreground');
	&:hover, &:focus {
		background-color: site-color('foreground');
		color: site-color('white') !important;				// override .album-buttons from _pages	
	}
}

// MUSIC LINKS //
.album-tracks a {
	text-decoration: none;
	border-bottom: 2px solid site-color('accent');
	&:hover, &:focus {
		color: site-color('accent');
	}
}

// VIDEO LINKS //
.video a {
	display: block;
	text-decoration: none;
	h3 {
		color: site-color('secondary');
		border-bottom: 2px solid site-color('accent');
	}
	&:hover, &:focus {
		h3 {
			color: site-color('accent');
		}
		img {
			transform: scale(1.05) translateY(-2.25%);
		}
	}
}

// PHOTO LINKS //
.gallery a {
	&:hover img, &:focus {
		transform: scale(1.05);
	}
}