/*
 *
 * NAVIGATION
 *
 */


/*******************************
HEADER & FOOTER NAVIGATION 
*******************************/
.nav-header {
	width:100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	display: flex;
	flex-flow: column wrap;			// stack website name and navigation
	justify-content: center;
	ul {
		margin: 0;
		padding: 0;
		@include font-size(20);
		text-align: center;
		list-style: none;
		display: flex;
		flex-flow: column wrap;			// stack navigation menu
		justify-content: space-around;
		align-content: space-around;
		&:hover a {						// turn the nav white on hover
			color: #ccc;
		}
	}
	li {
		width:100%;
		flex-grow: 1;
	}
	a {
		background-color: rgba(0,0,0,0.85);
		color: site-color('gray');
		text-decoration: none;
		padding: baseline(1) 0;
		display: block;
		&:hover, &:focus {
			background-color: rgba(56,8,48,0.65);
			color: site-color('white') !important;
		}
		&:active {
			background-color: site-color('foreground');
		}
	}
}
li.current-menu-item a {
	background-color: site-color('primary') !important;
}
	
.nav-header {
	h3 { // is the 'menu-toggle'
		text-align: center;
		margin: 0;			// remove margin from h3
	}
	ul {
		display: none; // hides the navigation, until the 'menu-toggle' is clicked
	}
	li {
		width: 100%;		// make full width
	}
	a {
	}
	.active ul {
		display: flex; // shows the navigation, when the 'menu-toggle' is clicked
		flex-flow: column nowrap;
	}
	@include bp('tablet-v') {
		ul {
			display: flex; // shows the navigation
			flex-flow: row wrap; // format as a row
		}
		li {
			width: auto; // reduces the width from 100%;
		}
	}
}


/*******************************
ALERT 
*******************************/
.alert {
	background: site-color('background');
	text-align: center;
	border: 1px solid site-color('foreground');
	padding:  baseline(1) 1.5em;
}
