/*
 *
 * PAGE STYLES
 *
 */


/*******************************
Home page
*******************************/
.home-wrap {
	h1 {
		display: none;		// hide the title
	}
}

.splash {
	background-image: url('/library/images/splash_hero-400.jpg');			// tounge image
	background-position: center center;
	background-size: cover;
	height: 100vw; 
	max-height: 80vh;
	text-align: center;
	&-content {
		display: block;				// make full width
		height: 100%;				// make full height
		position: relative;			// set positioning for splash content
	}
	&-band, &-album {
		display: block;							// set full width
		background-position: center center;
		background-size: contain;
		color: rgba(255,255,255,0);				// remove text
	}
	&-band {
		background-image: url('http://neutrondawn.com/library/images/splash_band-400.png');				// band name image
		height: 25vw;			// sets background image to scale full width
		max-height: 30vh;		// stop scaling up
	}
	&-album {
		display: block;
		position: absolute;
		bottom: 0;				// align to bottom of .splash-content
		left: 0;
		background-image: url('http://neutrondawn.com/library/images/splash_album-400.png');			// album name image
		width: 100%;
		height: 7vw;			// sets background image to scale full width
		max-height: 7vh;		// stop scaling up
	}
	&-cta {
		display: block;
		position: absolute;				// set for z-index
		left: 50%;
		top: 50%;
		font-style: italic;
		z-index: 7;						// position above spiral
		transform: translate(-50%, -50%);		// center orientation adjustment for centering
	}
	&-spiral {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw; 				// set width required
		height: 100vw; 				// set height required
		max-height: 80vh;
		opacity: 1;
		overflow: hidden;
		img {
			width: 180vw;
			height: 180vw;
			// transform: translate(-50%, -50%);			// center spiral
			margin: -40vw 0 0 -40vw;					// center spiral = (180 - 100) / 2
			animation: spinner 8s linear infinite;		// 360 degree spin
			mix-blend-mode: overlay;					// SVG overlay for cool color effect
		}
	}
	@include bp('phone-v-retina') {	//------- Phone vertical and up and retina display -------//
		background-image: url('/library/images/splash_hero-600.jpg');									// tounge image
		&-band {
			background-image: url('http://neutrondawn.com/library/images/splash_band-600.png');			// band name image
		}
		&-album {
			background-image: url('http://neutrondawn.com/library/images/splash_album-600.png');		// album name image
		}
	}
	@include bp('phone-h') {		//------- Phone horizontal and up -------//
		background-image: url('/library/images/splash_hero-600.jpg');									// tounge image
		&-band {
			background-image: url('http://neutrondawn.com/library/images/splash_band-600.png');			// band name image
		}
		&-album {
			background-image: url('http://neutrondawn.com/library/images/splash_album-600.png');		// album name image
		}
	}
	@include bp('phone-h-retina') {	//------- Phone horizontal and up and retina display -------//
		background-image: url('/library/images/splash_hero-1200.jpg');									// tounge image
		&-band {
			background-image: url('http://neutrondawn.com/library/images/splash_band.png');		// band name image
		}
		&-album {
			background-image: url('http://neutrondawn.com/library/images/splash_album.png');		// album name image
		}
	}
	@include bp('tablet-v') {		//------- Tablet vertical and up -------//
		background-image: url('/library/images/splash_hero-800.jpg');									// tounge image
		&-band {
			background-image: url('http://neutrondawn.com/library/images/splash_band-800.png');			// band name image
		}
		&-album {
			background-image: url('http://neutrondawn.com/library/images/splash_album-800.png');		// album name image
		}
		&-spiral img {
			// transform: translate(-22.5%, -30%);		// center spiral
			margin: -30vw 0 0 -40vw;					// vertical adjustment
		}
	}
	@include bp('tablet-v-retina') {	//------- Tablet vertical and up and retina display -------//
		background-image: url('/library/images/splash_hero-1600.jpg');									// tounge image
	}
	@include bp('tablet-h') {		//------- Tablet horizontal and up -------//
		background-image: url('/library/images/splash_hero-1000.jpg');									// tounge image
		&-band {
			background-image: url('http://neutrondawn.com/library/images/splash_band-1000.png');			// band name image
		}
		&-album {
			background-image: url('http://neutrondawn.com/library/images/splash_album.png');		// album name image
		}
		&-spiral img {
			// transform: translate(-22.5%, -30%);		// center spiral
			margin: -50vw 0 0 -40vw;					// vertical adjustment
		}
	}
	@include bp('tablet-h-retina') {	//------- Tablet horizontal and up and retina display -------//
		background-image: url('/library/images/splash_hero.jpg');									// tounge image
	}
	@include bp('laptop') {		//------- Laptop and up -------//
		background-image: url('/library/images/splash_hero-1600.jpg');									// tounge image
		&-band {
			background-image: url('http://neutrondawn.com/library/images/splash_band.png');			// band name image
		}
		&-cta {
			font-size: 1.5em;							// enlarge font size for larger screens
		}
		&-spiral img {
			// transform: translate(-22.5%, -35%);		// center spiral
			margin: -60vw 0 0 -40vw;					// vertical adjustment
		}
	}
	@include bp('television') {		//------- Television and up -------//
		background-image: url('/library/images/splash_hero.jpg');									// tounge image
		&-spiral img {
			// margin: -65vw 0 0 -40vw;				// vertical adjustment
		}
	}
}

.btn-cta {
	width: 12em;
	margin: baseline(0.5) auto 0 auto;
	a {
		display: block;
		background-color: rgba(255,255,255,0.75);
		padding: baseline(0.5) 1em;
		color: site-color('primary');
		text-decoration: none;
		font-weight: bold;
		font-style: normal;
		border: 1px solid site-color('text');
			box-shadow: 0 0 14px rgba(0,0,0,0);
		&:hover {
			background-color: rgba(255,255,255,1);
			color: site-color('accent');
			border-color: site-color('accent');
			box-shadow: 0 0 14px rgba(0,0,0,0.5);
		}
	}
}


.home-videos, .home-photos {
	display: block;
	padding-top: baseline(1);						// space for .btn
	header {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;				// title left, button right
		margin: baseline(1) 0;
		padding-bottom: 0.5em;								// push border bottom down, match section headers
		border-bottom: 3px solid site-color('primary');			// match section headers
	}
	&:hover .btn {		// lighten button text on section hover
		color: #999;
	}
	h3 {
		margin: 0;		// remove h3 default margin
		color: site-color-alpha('gray', 'light');
	}
}

.home-photos .gallery {
	display: flex;							// override .gallery grid
	flex-flow: column nowrap;
	justify-content: space-between;
	li {
		flex-basis: 30%;
		margin-bottom: baseline(1);			// vertical space between images
	}
	@include bp('tablet-v') {		//------- Tablet vertical and up -------//
		flex-flow: row nowrap;
	}
}


/*******************************
Music
*******************************/

.album {
	&-wrap {
		display: flex;
		flex-flow: column nowrap;
		margin-bottom: baseline(2);		// vertical spacing between albums
		perspective: 600px;				// set perspective for album-cover transform
		&:hover .album-cover {
			transform-style: preserve-3d;
			transform: rotateY(7deg) translateX(7px);
		}
		&:hover .btn {						// lighten button text
			color: #999;
		}
	}
	&-cover {
		width: 100%;
		margin-bottom: baseline(0.5);			// push text down on mobile
		img {									// round cover artowrk
			border-radius: 3px;						
			overflow: hidden;
		}
	}
	&-info {								// subdetails, buttons, tracks
	}
	&-title {
		margin: 0;							// remove h3 margin
	}
	&-details {								// subdetails, buttons
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;			// push to the sides
		border-bottom: 2px solid site-color('primary');
		padding-bottom: 0.5em;					// push bottom border down
	}
	&-subdetails {							// year & dmr spans
		color: site-color('gray');
	}
	&-year {
	}
	&-dmr {
		text-transform: uppercase;
	}
	&-buttons {
	}
	&-download {
		display: inline-block;
		color: site-color('gray');
		margin-right: 0.5em;			// push buttons right
	}
	&-tracks {
		column-count: 1;
		column-gap: 1em;
	}
	@include bp('tablet-v') {		//------- Tablet Vertical -------//
		&-wrap {
			flex-flow: row nowrap;
		}
		&-cover {
			width: 30%;
			max-width: 350px;
			margin-right: 5%;
		}
		&-info {								// subdetails, buttons, tracks
			width: 65%;							// 100% - 30% width + 5% margin-right
		}
		&-details {								// subdetails & buttons
			flex-flow: row nowrap;
			justify-content: space-between;			// push to the sides
		}
		&-tracks {
			column-count: 2;
			column-gap: 1em;
		}
	}
	@include bp('television') {		//------- television and up -------//
		&-wrap {
			max-width: 1600px;
			margin-left: auto;
			margin-right: auto;
		}
		&-tracks {
			column-count: 3;
		}
	}
}


/*******************************
Videos
*******************************/

.video {
	display: flex;
	flex-flow: column nowrap;
	align-content: flex-start;
	justify-content: space-between;
	&:hover .video-cover {
		opacity: 0.8;
	}
	&-wrap {
		flex-basis: 100%;
		margin-bottom: baseline(2);				// push videos down for bottom spacing
		&:hover .video-cover {
			opacity: 1;
		}
	}
	&-cover img {
		border-radius: 3px;						// $radius / 2
		overflow: hidden;						// hide border image overflow
	}
	&-info {
	}
	&-title {
		margin: 0;					// remove h3 margin
	}
	&-details {
		color: site-color('gray');
	}
	&-year {
	}
	&-duration {
	}
	@include bp('tablet-v') {		//------- Tablet Vertical and up -------//
		flex-flow: row wrap;
		&-wrap {
			flex-basis: 45%;
		}
	}
	@include bp('tablet-h') {		//------- Tablet Horizontal and up -------//
		&-wrap {
			flex-basis: 30%;
		}
	}
	@include bp('television') {		//------- Television and up -------//
		&-wrap {
			flex-basis: 22%;
		}
	}
}


/*******************************
Photos
*******************************/

.photo-wrap {
}
.gallery {
	display: grid;
	grid-auto-rows: 25vw;
	grid-gap: 1rem;
	grid-auto-flow: dense;
	list-style: none;
	padding: 0;
	margin: 0;
	&:hover figure {
		opacity: 0.83;				// darken images on hover
	}
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 3px;						// $radius / 2
		overflow: hidden;						// hide border image overflow
	}
	li {
		&:hover figure {
			opacity: 1;
		}
	}
	figure {
		margin: 0;
		height: 100%;
		width: 100%;
	}
	@include bp('phone-h') {		//------- phone horizontal and up -------//
		li:nth-child(4n) {				// include every 4th photo
			grid-column: span 2; /* Spans two columns */
			grid-row: span 2; /* Spans two rows */
		}
	}
	@include bp('tablet-v') {		//------- Tablet Vertical -------//
		grid-auto-rows: 17vw;			// override to display images
		li:nth-child(8n) {				// include every 8th photo
			grid-column: span 3; /* Spans two columns */
			grid-row: span 3; /* Spans two rows */
		}
	}
	@include bp('laptop') {		//------- Laptop and up -------//
		max-width: 1600px;
		margin-left: auto;
		margin-right: auto;
	}
}


/*******************************
About
*******************************/

.page-id-17 main {
	h3 {
		border-bottom: 2px solid site-color('primary');
		padding-bottom: 0.5em;					// push bottom border down
		padding-top: baseline(0.5);
	}
	p:first-of-type {		// enlarge font of the first paragraph for articist styling
		font-size: 1.15em;
		line-height: baseline(1.1);
	}
}

