/*
 *
 * PAGE STYLES
 *
 */


/*******************************
Music
*******************************/

.album {
	
	&-wrap {
		display: flex;
		flex-flow: column nowrap;
		margin-bottom: baseline(2);		// vertical spacing between albums
		perspective: 600px;				// set perspective for album-cover transform
		&:hover .album-cover {
			transform-style: preserve-3d;
			transform: rotateY(7deg) translateX(7px);
		}
	}
	&-cover {
		width: 100%;
		margin-bottom: baseline(0.5);			// push text down on mobile
	}
	&-info {								// subdetails, buttons, tracks
	}
	&-title {
		margin: 0;							// remove h3 margin
	}
	&-details {								// subdetails, buttons
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;			// push to the sides
		border-bottom: 2px solid site-color('primary');
		padding-bottom: 0.5em;					// push bottom border down
	}
	&-subdetails {							// year & dmr spans
		color: site-color('gray');
	}
	&-year {
	}
	&-dmr {
		text-transform: uppercase;
	}
	&-buttons {
	}
	&-download {
		display: inline-block;
		color: site-color('gray');
		margin-right: 0.5em;			// push buttons right
	}
	&-tracks {
		column-count: 1;
		column-gap: 1em;
	}
	@include bp('tablet-v') {		//------- Tablet Vertical -------//
		&-wrap {
			flex-flow: row nowrap;
		}
		&-cover {
			width: 30%;
			max-width: 350px;
			margin-right: 5%;
		}
		&-info {								// subdetails, buttons, tracks
			width: 65%;							// 100% - 30% width + 5% margin-right
		}
		&-title {
		}
		&-details {								// subdetails & buttons
			flex-flow: row nowrap;
			justify-content: space-between;			// push to the sides
		}
		&-subdetails {							// year & dmr spans
		}
		&-year {
		}
		&-dmr {
		}
		&-buttons {
		}
		&-download {
		}
		&-tracks {
			column-count: 2;
			column-gap: 1em;
		}
	}
	@include bp('television') {		//------- television and up -------//
		&-wrap {
			max-width: 1600px;
			margin-left: auto;
			margin-right: auto;
		}
		&-cover {
		}
		&-info {								// subdetails, buttons, tracks
		}
		&-title {
		}
		&-details {								// subdetails & buttons
		}
		&-subdetails {							// year & dmr spans
		}
		&-year {
		}
		&-dmr {
		}
		&-buttons {
		}
		&-download {
		}
		&-tracks {
			column-count: 3;
		}
	}
}


/*******************************
Videos
*******************************/

.video {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	&-wrap {
		flex-basis: 100%;
		margin-bottom: baseline(2);				// push videos down for bottom spacing
	}
	&-cover {
	}
	&-info {
	}
	&-title {
		margin: 0;					// remove h3 margin
	}
	&-details {
		color: site-color('gray');
	}
	&-year {
	}
	&-duration {
	}
	@include bp('tablet-v') {		//------- Tablet Vertical and up -------//
		flex-flow: row wrap;
		&-wrap {
			flex-basis: 45%;
		}
	}
	@include bp('tablet-h') {		//------- Tablet Horizontal and up -------//
		&-wrap {
			flex-basis: 30%;
		}
	}
	@include bp('television') {		//------- Television and up -------//
		&-wrap {
			flex-basis: 22%;
		}
	}
}


/*******************************
Photos
*******************************/

.photo-wrap {
}
.gallery {
	display: grid;
	grid-auto-rows: 12%;
	grid-gap: 1rem;
	grid-auto-flow: dense;
	list-style: none;
	padding: 0;
	margin: 0;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	li {
	}
	figure {
		margin: 0;
		height: 100%;
		width: 100%;
	}
	a {
		
		&:hover img, &:focus {
			transform: scale(1.05);
		}
	}
	@include bp('phone-h') {		//------- phone horizontal and up -------//
		li:nth-child(4n) {				// include every 4th photo
			grid-column: span 2; /* Spans two columns */
			grid-row: span 2; /* Spans two rows */
		}
	}
	@include bp('tablet-v') {		//------- Tablet Vertical -------//
		li:nth-child(8n) {				// include every 8th photo
			grid-column: span 3; /* Spans two columns */
			grid-row: span 3; /* Spans two rows */
		}
	}
	@include bp('laptop') {		//------- Laptop and up -------//
		max-width: 1600px;
		margin-left: auto;
		margin-right: auto;
	}
}